
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #f6d365;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
        }

        .bggg {
            background: rgb(244,244,244);
            background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(219,135,189,1) 100%);
        }
        .bgggg {
            background: rgb(219,135,189);
            background: linear-gradient(0deg, rgba(219,135,189,1) 0%, rgba(244,244,244,1) 100%);
        }
    </style>
</head>
<section class="bggg">
    @foreach (var dataprofil in ViewBag.uc2)
    {
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-start h-100 ">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                 style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                    alt="Avatar" class="img-fluid my-5" style="width: 80px;" />*@
                                <img src="~/Upload/Profil/@dataprofil.Toko_foto"
                                     alt="Avatar" class="img-fluid my-5" style="width: 100px;" />
                                <h5>@dataprofil.name_owner</h5>
                                <p>@dataprofil.address_owner</p>
                            </div>
                            <div class="col-md-8" id="mapp">
                                
                            </div>
                        </div>
                    </div>
                </div>
                @*<br />
                <div class="card" >
                </div>*@
                <script>
                mapboxgl.accessToken = 'pk.eyJ1Ijoidmlja3lqbmQiLCJhIjoiY2w5ZjVxNWl6MG5ydjNybXlka3FuY2ZoNCJ9.ZnazGQ7N4dEDKgQxMqYiHA';
                const mapp = new mapboxgl.Map({
                    container: 'mapp',
                    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: [@dataprofil.Toko_long, @dataprofil.Toko_lat],
                    zoom: 15
                });
                new mapboxgl.Popup({
                    closeButton: false,//<----
                    closeOnClick: false,
                    closeOnMove: true,
                    maxWidth: "auto"
                })
                    .setLngLat([@dataprofil.Toko_long, @dataprofil.Toko_lat])
                    .setHTML('<h3>@dataprofil.Toko_name</h3>')
                    .addTo(mapp);
                </script>
            </div>
        </div>
    }
</section>
<!-- Start Trending Product Area -->
<section class="bgggg trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @foreach(var tulisan in ViewBag.uc2) {
                <div class="section-title">
                    <h2>ALL PRODUCT FROM @tulisan.Toko_name</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form.
                    </p>
                </div>
                }
            </div>
        </div>
        <div class="row">
            @foreach (var product in ViewBag.uc)
            {
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            <img src="~/Upload/FrontImage/@product.product_img1" style="width:300px; height:300px; object-fit:scale-down;" alt="#">
                            <div class="button">
                                <a href="@Url.Action("DetailsProduct", "User",  new { id = product.Product_id })" class="btn"><i class="lni lni-pencil"></i> Details</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">@product.Kategori_Name</span>
                            <h4 class="title">
                                <a href="">@product.Product_name</a>
                            </h4>
                            <ul class="review">
                                <li><span>@product.Toko_name</span></li>
                            </ul>
                            <ul class="review">
                                <li><span>@product.address_owner</span></li>
                            </ul>
                            <div class="price">
                                <span>RP.@product.RP</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            }
        </div>
    </div>
</section>
<!-- End Trending Product Area -->
